# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.local
.env.development
.env.production

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Data
data/

# Logs
*.log

# Database
*.db
*.sqlite3

# Node (Frontend)
node_modules/
/frontend/build
/frontend/.next
/frontend/dist

# GCP
.gcloudignore
*.key.json
gcp-key.json


# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Docker
.dockerignore

# Extra
/extra